/**
 * ObjectField
 */

.ObjectField {
  display: flex;
  flex-direction: column;
  background-color: var(--puck-color-surface);
  border: var(--puck-border-width-regular) solid var(--puck-color-border);
  border-radius: var(--puck-radius-m);
}

.ObjectField-fieldset {
  border: none;
  margin: 0;
  min-width: 0; /* Needed to ensure External input doesn't overflow, see https://stackoverflow.com/a/53784508 */
  padding: var(--puck-space-4) 15px;
}
