.RichTextMenu {
  --puck-rich-text-menu-icon: var(--puck-color-grey-08);
  --puck-rich-text-menu-inline-separator: var(--puck-color-grey-05);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.RichTextMenu--form {
  border-top-left-radius: var(--puck-radius-m);
  border-top-right-radius: var(--puck-radius-m);
  padding: 6px 6px;
  background-color: var(--puck-color-surface-muted);
  position: relative;
  scrollbar-width: none;
  overflow-x: auto;
}

.RichTextMenu-group {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-inline: 6px;
  gap: 2px;
  position: relative;
}

.RichTextMenu-group:first-of-type {
  padding-left: 0;
}

.RichTextMenu-group:last-of-type {
  padding-right: 0;
}

.RichTextMenu--inline .RichTextMenu-group {
  color: var(--puck-rich-text-menu-icon);
  gap: 0px;
  flex-wrap: nowrap;
}

.RichTextMenu-group + .RichTextMenu-group {
  border-left: var(--puck-border-width-regular) solid var(--puck-color-border-muted);
}

.RichTextMenu--inline .RichTextMenu-group + .RichTextMenu-group {
  border-left: var(--puck-border-width-hairline) solid var(--puck-rich-text-menu-inline-separator); /* Match actionbar separator */
}
