.ActionBar {
  --puck-action-bar-bg: var(--puck-color-grey-01);
  --puck-action-bar-text: var(--puck-color-grey-08);
  --puck-action-bar-separator: var(--puck-color-grey-05);
  --puck-action-bar-disabled: var(--puck-color-grey-06);
  --puck-action-bar-hover: var(--puck-color-azure-06);
  --puck-action-bar-active: var(--puck-color-azure-07);

  align-items: center;
  cursor: default;
  display: flex;
  width: auto;
  padding: var(--puck-space-1);
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-top-left-radius: var(--puck-radius-l);
  border-top-right-radius: var(--puck-radius-l);
  border-radius: var(--puck-radius-l);
  background: var(--puck-action-bar-bg);
  color: var(--puck-color-text-inverse);
  font-family: var(--puck-font-family);
  min-height: 26px;
}

.ActionBar-label {
  color: var(--puck-action-bar-text);
  font-size: var(--puck-font-size-xxxs);
  font-weight: var(--puck-font-weight-medium);
  padding-inline-start: var(--puck-space-2);
  padding-inline-end: var(--puck-space-2);
  margin-inline-start: var(--puck-space-1);
  margin-inline-end: var(--puck-space-1);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ActionBarAction + .ActionBar-label {
  padding-inline-start: 0;
}

.ActionBar-label + .ActionBarAction {
  margin-inline-start: calc(var(--puck-space-1) * -1);
}

.ActionBar-group {
  align-items: center;
  border-inline-start: var(--puck-border-width-hairline) solid
    var(--puck-action-bar-separator); /* Fractional value required due to scaling */
  display: flex;
  height: 100%;
  padding-inline-start: var(--puck-space-1);
  padding-inline-end: var(--puck-space-1);
}

.ActionBar-group:first-of-type {
  border-inline-start: 0;
}

.ActionBar-group:empty {
  display: none;
}

.ActionBarAction {
  background: transparent;
  border: none;
  color: var(--puck-action-bar-text);
  cursor: pointer;
  padding: 6px;
  margin-inline-start: var(--puck-space-1);
  margin-inline-end: var(--puck-space-1);
  border-radius: var(--puck-radius-m);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--puck-duration-fast) var(--puck-ease-exit);
}

.ActionBarAction--disabled {
  cursor: auto;
  color: var(--puck-action-bar-disabled);
}

.ActionBarAction svg {
  max-width: none !important; /* Explicit definition to prevent some SVG style pollution */
}

.ActionBarAction:focus-visible {
  outline: var(--puck-border-width-focus) solid var(--puck-color-focus-ring);
  outline-offset: calc(var(--puck-border-width-focus) * -1);
}

@media (hover: hover) and (pointer: fine) {
  .ActionBarAction:hover:not(.ActionBarAction--disabled) {
    color: var(--puck-action-bar-hover);
    transition: none;
  }
}

.ActionBarAction:active:not(.ActionBarAction--disabled),
.ActionBarAction--active {
  color: var(--puck-action-bar-active);
  transition: none;
}

.ActionBar-group * {
  margin: 0;
}

.ActionBar-separator {
  background: var(--puck-action-bar-separator);
  margin-inline: var(--puck-space-1);
  width: var(
    --puck-border-width-hairline
  ); /* Fractional value required due to scaling */
  height: 100%;
}
