.RichTextEditor p:empty::before {
  content: "\00a0"; /* non-breaking space */
}

.RichTextEditor * {
  white-space: pre-wrap;
}

.RichTextEditor blockquote {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 4px solid var(--puck-color-grey-09);
}

.RichTextEditor code {
  background-color: var(--puck-color-grey-11);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

.RichTextEditor :global(.ProseMirror) {
  white-space: pre-wrap;
  word-wrap: break-word;
  cursor: text;
  outline: none;
}

.RichTextEditor--editor {
  background: var(--puck-color-white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-09);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--puck-font-size-xxs);
  transition: border-color 50ms ease-in;
  width: 100%;
  max-width: 100%;
}

.RichTextEditor--editor :global(.ProseMirror) {
  padding: 0 16px;
}

.RichTextEditor--editor:focus-within {
  border-color: var(--puck-color-grey-05);
  outline: 2px solid var(--puck-color-azure-05);
  transition: none;
}

.RichTextEditor:not(:focus-within):not(.RichTextEditor--isFocused) ::selection {
  background-color: transparent;
}
