.RichTextEditor :global(.ProseMirror) {
  white-space: pre-wrap;
  word-wrap: break-word;
  cursor: text;
  outline: none;
}

.RichTextEditor :global(.ProseMirror *) {
  white-space: pre-wrap;
}

.RichTextEditor :global(.ProseMirror blockquote) {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 4px solid var(--puck-color-grey-09);
}

.RichTextEditor :global(.ProseMirror code) {
  background-color: var(--puck-color-grey-11);
  padding: 4px 8px;
  border-radius: 4px;
}

.RichTextEditor :global(.ProseMirror p:empty::before) {
  content: "\00a0";
}

.RichTextEditor :global(.ProseMirror pre code) {
  display: block;
  padding: 8px 12px;
}

.RichTextEditor :global(.ProseMirror > *:first-child),
.RichTextEditor :global(.ProseMirror * p:first-of-type) {
  margin-top: 0;
}

.RichTextEditor :global(.ProseMirror > *:last-child),
.RichTextEditor :global(.ProseMirror * p:last-of-type) {
  margin-bottom: 0;
}

.RichTextEditor--editor {
  background: var(--puck-color-white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-09);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--puck-font-size-xxs);
  transition: border-color 50ms ease-in;
  width: 100%;
  max-width: 100%;
}

.RichTextEditor--editor :global(.ProseMirror) {
  padding: 12px 15px;
}

.RichTextEditor--editor :global(.ProseMirror ul),
.RichTextEditor--editor :global(.ProseMirror ol) {
  padding-left: 24px;
}

.RichTextEditor--editor :global(.ProseMirror li) {
  line-height: 1.5;
}

.RichTextEditor--editor :global(.ProseMirror p) {
  margin-block: 12px;
}

.RichTextEditor--editor :global(.ProseMirror ul) {
  list-style: disc;
}

.RichTextEditor--editor :global(.ProseMirror ol) {
  list-style: decimal;
}

.RichTextEditor--editor:focus-within {
  border-color: var(--puck-color-grey-05);
  outline: 2px solid var(--puck-color-azure-05);
  transition: none;
}

.RichTextEditor--editor.RichTextEditor--disabled {
  background: var(--puck-color-grey-11);
}

.RichTextEditor:not(:focus-within):not(.RichTextEditor--isFocused) ::selection {
  background-color: transparent;
}

.RichTextEditor-menu {
  border-bottom: 1px solid var(--puck-color-grey-10);
}

.RichTextEditor--disabled .RichTextEditor-menu {
  border-bottom: 1px solid var(--puck-color-grey-09);
}
