.DragIcon {
  color: var(--puck-color-text-muted);
  cursor: grab;
  padding: var(--puck-space-1);
  border-radius: var(--puck-radius-m);
}

.DragIcon--disabled {
  cursor: no-drop;
}

@media (hover: hover) and (pointer: fine) {
  .DragIcon:not(.DragIcon--disabled):hover {
    color: var(--puck-color-focus-ring);
    background-color: var(--puck-color-interactive-subtle-hover);
  }
}
