.SyncControl {
  background: var(--puck-color-white);
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 999px;
  color: var(--puck-color-grey-05);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 1.2;
  padding: 6px;
}

.SyncControl--synced {
  color: var(--puck-color-azure-04);
}

.SyncControl:hover:not(:disabled) {
  background: var(--puck-color-azure-12);
  border-color: var(--puck-color-grey-05);
}

.SyncControl:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
