.PuckFields {
  position: relative;
  font-family: var(--puck-font-family);
}

.PuckFields--isLoading {
  min-height: 48px; /* Ensure there is sufficient room for loader if no fields */
}

.PuckFields-loadingOverlay {
  background: var(--puck-color-surface);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 1;
  pointer-events: all;
  box-sizing: border-box;
  opacity: 0.8;
}

.PuckFields-loadingOverlayInner {
  display: flex;
  padding: var(--puck-space-4);
  position: sticky;
  top: 0;
}

.PuckFields-field {
  display: block;
}

.PuckFields-field * {
  box-sizing: border-box;
}

/* A row is a field or a group that isn't inside another field or group */
.PuckFields--wrapFields
  :is(.PuckFields-field, [data-puck-field-group]):not(
    .PuckFields-field *,
    [data-puck-field-group] *
  ) {
  color: var(--puck-color-text-secondary);
  padding: var(--puck-space-4);
  padding-bottom: var(--puck-space-3);
}

.PuckFields--wrapFields
  :is(.PuckFields-field, [data-puck-field-group]):not(
    .PuckFields-field *,
    [data-puck-field-group] *
  )
  + :is(.PuckFields-field, [data-puck-field-group]) {
  border-top: var(--puck-border-width-regular) solid var(--puck-color-border);
  margin-top: var(--puck-space-2);
}
