.OutlineWrapper {
  min-width: fit-content;
}

.OutlineWrapper-collapseAll {
  position: sticky;
  z-index: 2;
  top: 0;
  inset-inline-end: 0;
  width: fit-content;
  margin-inline-start: auto;
  padding-bottom: var(--puck-space-1);
  display: flex;
  align-items: center;
  pointer-events: none;
}

.OutlineWrapper-collapseAll * {
  pointer-events: auto;
}

.CollapseAll-icon {
  height: var(--puck-icon-size-m);
  width: var(--puck-icon-size-m);
}
