.MenuBar--group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--puck-color-grey-10);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 6px 6px;
  background-color: var(--puck-color-grey-12);
  position: relative;
  z-index: 100;
  margin-bottom: 2px;
  scrollbar-width: none;

  overflow-x: auto;
}

.MenuBarMenu {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-inline: 6px;
  gap: 2px;
  z-index: 3;
  position: relative;
}

.MenuBarMenu:first-of-type {
  padding-left: 0;
}

.MenuBarMenu:last-of-type {
  padding-right: 0;
}

.MenuBarMenu--inline {
  gap: 0px;
  flex-wrap: nowrap;
}

.MenuBarMenu--inline button {
  padding: 4px;
}

.MenuBarMenu--inline button:first-of-type {
  padding-left: 6px;
}
.MenuBarMenu--inline button:last-of-type {
  padding-right: 6px;
}

.MenuBarMenu + .MenuBarMenu {
  border-left: 1px solid var(--puck-color-grey-10);
}
