.MenuBar--button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  position: relative;
  z-index: 100;
  margin-bottom: 2px;
}

.MenuBar--button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  background-color: var(--puck-color-white);
  padding: 4px;
  position: relative;
  z-index: 100;
  margin-bottom: 2px;
}

.MenuBarMenu {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  z-index: 3;
  position: relative;
}

.MenuBarMenu--inline {
  gap: 0px;
  flex-wrap: nowrap;
}

.MenuBarMenu--inline button {
  padding: 4px;
}

.MenuBarMenu--inline button:first-of-type {
  padding-left: 6px;
}
.MenuBarMenu--inline button:last-of-type {
  padding-right: 6px;
}
